*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter';
}

body{
    background-color: hsl(0, 0%, 8%);
    
}

#main_section{
    width: 450px;
    height: 750px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
}

.main_div{
    color: hsl(0, 0%, 100%);
    padding-top: 10px;
}

#logo{
    padding-top: 40px;
    padding-bottom: 20px;
}
.pic{
    width: 130px;
    border-radius: 50%;
}

#location{
    color: hsl(75, 94%, 57%);
    padding-bottom: 25px;
}

div h3{
    font-weight: 400;
}

div a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    width: 380px;
    height: 50px;
    padding-top: 12px;
    border-radius:10px;
}

div a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}

div a:focus{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}

.main_div--links{
    background-color: hsl(0, 0%, 20%);
    width: 380px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
}






.attribution{
    margin-top: 150px;
    font-size: 14px; 
    text-align: center;
    color: hsl(0, 0%, 100%); 
}
.attribution a{
    color: hsl(228, 45%, 44%); 
}
